In [1]:
from binance import ThreadedWebsocketManager
from binance.client import Client
import pandas as pd
import numpy as np
import datetime

In [5]:
api_key = "DAX5KWi4IudakbEVvmQsjgqRYkSVycWQralfOuIWr7xSyQ4chqn192dLS4QGkG1q"  # TESTING testnet.binance.vision
api_secret = "i5YaSzFjlZTkrqsdMzEGUoukzkKehozhtNi0E5XPVP2UnbzyDuFB8RJuN1JMSTKZ"  # TESTING testnet.binance.vision

In [6]:
client = Client(api_key=api_key, api_secret=api_secret, testnet=True)
client.get_account()

{'makerCommission': 0,
 'takerCommission': 0,
 'buyerCommission': 0,
 'sellerCommission': 0,
 'canTrade': True,
 'canWithdraw': False,
 'canDeposit': False,
 'brokered': False,
 'updateTime': 1667394968422,
 'accountType': 'SPOT',
 'balances': [{'asset': 'BNB',
   'free': '1000.00000000',
   'locked': '0.00000000'},
  {'asset': 'BTC', 'free': '1.00000000', 'locked': '0.00000000'},
  {'asset': 'BUSD', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'},
  {'asset': 'LTC', 'free': '500.00000000', 'locked': '0.00000000'},
  {'asset': 'TRX', 'free': '500000.00000000', 'locked': '0.00000000'},
  {'asset': 'USDT', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'XRP', 'free': '50000.00000000', 'locked': '0.00000000'}],
 'permissions': ['SPOT']}

In [25]:
class LongOnlyTrader():
    
    def __init__(self, symbol, interval, units=0.1, position=0, sma1=7, sma2=20):
        self.symbol = symbol
        self.interval = interval
        self.units = units
        self.position = position
        self.available_intervals = ["1m", "3m", "5m", "15m", "30m", "1h", "2h", "4h", "6h", "8h", "12h", "1d", "3d", "1w", "1M"]

#         Strategy attributs
        self.sma1 = sma1
        self.sma2 = sma2
        
    def start_trading(self, past_mins=25):
        self.twm = ThreadedWebsocketManager()
        self.twm.start()
        
        if self.interval in self.available_intervals:
            self.get_recent_prices(past_mins)
            self.twm.start_kline_socket(callback=self.stream_candles,
                                        symbol=self.symbol, interval=self.interval)
        # "else" to be added later in the course 
    
    def get_recent_prices(self, past_mins):
        now = datetime.datetime.utcnow()
        past = str(now - datetime.timedelta(minutes=past_mins))
        
        bars = client.get_historical_klines(self.symbol, self.interval, past)
        
        df = pd.DataFrame(bars)
        df["Date"] = pd.to_datetime(df.iloc[:,0], unit = "ms")
        df.columns = ["Open Time", "Open", "High", "Low", "Close", "Volume",
                      "Clos Time", "Quote Asset Volume", "Number of Trades",
                      "Taker Buy Base Asset Volume", "Taker Buy Quote Asset Volume", "Ignore", "Date"]
        df = df[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
        df.set_index("Date", inplace=True)
        df["sma1"] = df.Close.rolling(self.sma1).mean()
        df["sma2"] = df.Close.rolling(self.sma2).mean()
        for column in df.columns:
            df[column] = pd.to_numeric(df[column], errors = "coerce")
        df["Complete"] = [True for row in range(len(df)-1)] + [False]
        
        self.data = df

    def stream_candles(self, msg):
        
        # extract the required items from msg
        event_time = pd.to_datetime(msg["E"], unit = "ms")
        start_time = pd.to_datetime(msg["k"]["t"], unit = "ms")
        first = float(msg["k"]["o"])
        high = float(msg["k"]["h"])
        low = float(msg["k"]["l"])
        close = float(msg["k"]["c"])
        volume = float(msg["k"]["v"])
        complete= msg["k"]["x"]
        # print out
        print(".", end="", flush=True)
    
        # feed df (add new bar / update latest bar)
        self.data.loc[start_time] = [first, high, low, close, volume, complete, np.nan, np.nan]
        self.data["sma1"] = self.data.Close.rolling(self.sma1).mean()
        self.data["sma2"] = self.data.Close.rolling(self.sma2).mean()
        if complete:
            self.define_strategy()
            self.execute_order()

    def define_strategy(self):
        df = self.data.copy()
        # Define strategy  --  If last candle is green, buy. If red, sell
        cond = df.sma1 > df.sma2  # Red candle
        
        df["Position"] = 0
        df.loc[cond, "Position"] = 1
        
        self.prepare_data = df.copy()
        
    def execute_order(self):
        if self.prepare_data["Position"].iloc[-1] == 1:  # Buy
            if self.position == 0:
                order = client.create_order(symbol=self.symbol, side="BUY", type="MARKET", quantity=self.units)
                self.position = 1
                print("BUYING BITCOIN")

        if self.prepare_data["Position"].iloc[-1] == 0: # Sell:
            if self.position == 1:
                order = client.create_order(symbol=self.symbol, side="SELL", type="MARKET", quantity=self.units)
                self.position = 0
                print("SELLING BITCOIN")

In [26]:
trader = LongOnlyTrader("BTCUSDT", "1m", 0.5)

In [27]:
trader.start_trading()

....

In [31]:
trader.prepare_data

,Open,High,Low,Close,Volume,sma1,sma2,Complete,Position
Date,,,,,,,,,
2022-11-24 14:03:00,16571.86,16572.17,16561.40,16566.62,6.446833,NaN,NaN,True,0
2022-11-24 14:04:00,16566.62,16570.90,16565.96,16566.06,6.529141,NaN,NaN,True,0
2022-11-24 14:05:00,16566.08,16571.28,16565.34,16567.08,6.694864,NaN,NaN,True,0
2022-11-24 14:06:00,16567.08,16567.08,16560.02,16563.38,6.008125,NaN,NaN,True,0
2022-11-24 14:07:00,16563.65,16564.53,16561.53,16562.85,6.212619,NaN,NaN,True,0
2022-11-24 14:08:00,16562.32,16570.28,16561.30,16566.35,8.946429,NaN,NaN,True,0
2022-11-24 14:09:00,16565.66,16570.16,16565.66,16570.16,5.635924,16566.071429,NaN,True,0
2022-11-24 14:10:00,16569.88,16571.01,16568.76,16570.83,3.972438,16566.672857,NaN,True,0
2022-11-24 14:11:00,16570.68,16573.66,16567.75,16567.75,6.965654,16566.914286,NaN,True,0
2022-11-24 14:12:00,16567.48,16569.76,16565.82,16568.93,4.163682,16567.178571,NaN,True,0
2022-11-24 14:13:00,16568.30,16570.40,16566.25,16566.25,4.656070,16567.588571,NaN,True,0
2022-11-24 14:14:00,16566.50,16568.59,16566.50,16566.64,4.162257,16568.130000,NaN,True,0
2022-11-24 14:15:00,16566.50,16569.62,16557.29,16557.59,5.421034,16566.878571,NaN,True,0
2022-11-24 14:16:00,16557.59,16558.58,16540.43,16540.44,6.398968,16562.632857,NaN,True,0
2022-11-24 14:17:00,16542.03,16545.36,16461.60,16469.46,7.387824,16548.151429,NaN,True,0
2022-11-24 14:18:00,16469.46,16489.73,16462.72,16472.84,10.097926,16534.592857,NaN,True,0
2022-11-24 14:19:00,16472.31,16489.78,16469.72,16483.43,8.819771,16522.378571,NaN,True,0
2022-11-24 14:20:00,16481.75,16488.86,16481.07,16488.86,8.722035,16511.322857,NaN,True,0
2022-11-24 14:21:00,16488.86,16509.99,16488.86,16509.99,10.375011,16503.230000,NaN,True,0
2022-11-24 14:22:00,16510.29,16510.29,16482.04,16491.07,9.518082,16493.727143,16540.8290,True,0
2022-11-24 14:23:00,16491.07,16500.64,16487.03,16499.91,6.981476,16487.937143,16537.4935,True,0
2022-11-24 14:24:00,16498.46,16511.13,16497.69,16507.88,8.856942,16493.425714,16534.5845,True,0
2022-11-24 14:25:00,16509.11,16514.84,16497.88,16514.84,8.846864,16499.425714,16531.9725,True,0
2022-11-24 14:26:00,16514.84,16520.55,16505.88,16505.88,7.821261,16502.632857,16529.0975,True,0
2022-11-24 14:27:00,16505.12,16505.95,16493.82,16497.57,206.972760,16503.877143,16525.8335,NaN,0
2022-11-24 14:28:00,16497.57,16511.30,16496.55,16507.36,105.758790,16503.501429,16522.8840,NaN,0
2022-11-24 14:29:00,16505.40,16513.32,16501.67,16503.21,112.841380,16505.235714,16519.5365,NaN,0
2022-11-24 14:30:00,16503.84,16509.98,16491.36,16500.43,300.267430,16505.310000,16516.0165,NaN,0
2022-11-24 14:31:00,16500.44,16515.28,16491.36,16496.05,302.951080,16503.620000,16512.4315,NaN,0
2022-11-24 14:32:00,16496.72,16514.10,16496.05,16513.61,141.652140,16503.444286,16509.6655,NaN,0
2022-11-24 14:33:00,16513.61,16517.61,16508.93,16515.90,105.996990,16504.875714,16507.1480,NaN,0
2022-11-24 14:34:00,16515.90,16518.12,16505.34,16509.61,118.804600,16506.595714,16504.2965,NaN,1
2022-11-24 14:35:00,16509.61,16514.80,16505.00,16512.86,109.589890,16507.381429,16502.0600,NaN,1
2022-11-24 14:36:00,16512.86,16526.33,16510.44,16523.22,162.511220,16510.240000,16501.1990,NaN,1
2022-11-24 14:37:00,16524.38,16524.79,16512.05,16516.73,136.495410,16512.568571,16503.5625,NaN,1
2022-11-24 14:38:00,16516.19,16521.01,16513.98,16519.30,98.260880,16515.890000,16505.8855,NaN,1
2022-11-24 14:39:00,16519.30,16525.32,16517.60,16517.74,127.628280,16516.480000,16507.6010,NaN,1
2022-11-24 14:40:00,16518.60,16520.01,16511.07,16516.10,107.566030,16516.508571,16508.9630,NaN,1
2022-11-24 14:41:00,16515.46,16524.03,16514.45,16520.57,104.311520,16518.074286,16509.4920,NaN,1
2022-11-24 14:42:00,16520.57,16521.52,16512.05,16514.12,110.328440,16518.254286,16510.6445,NaN,1
2022-11-24 14:43:00,16514.12,16516.09,16510.04,16512.48,88.950630,16516.720000,16511.2730,NaN,1
2022-11-24 14:44:00,16513.26,16518.29,16511.88,16514.23,72.324680,16516.362857,16511.5905,NaN,1

....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................SELLING BITCOIN
..............................................................................................................................................................................................................................................................................................................................................................................................BUYING BITCOIN
....

In [38]:
client.get_account()

{'makerCommission': 0,
 'takerCommission': 0,
 'buyerCommission': 0,
 'sellerCommission': 0,
 'canTrade': True,
 'canWithdraw': False,
 'canDeposit': False,
 'brokered': False,
 'updateTime': 1669332961160,
 'accountType': 'SPOT',
 'balances': [{'asset': 'BNB',
   'free': '1000.00000000',
   'locked': '0.00000000'},
  {'asset': 'BTC', 'free': '1.00000000', 'locked': '0.00000000'},
  {'asset': 'BUSD', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'},
  {'asset': 'LTC', 'free': '500.00000000', 'locked': '0.00000000'},
  {'asset': 'TRX', 'free': '500000.00000000', 'locked': '0.00000000'},
  {'asset': 'USDT', 'free': '10013.46266488', 'locked': '0.00000000'},
  {'asset': 'XRP', 'free': '50000.00000000', 'locked': '0.00000000'}],
 'permissions': ['SPOT']}

In [37]:
trader.twm.stop()

.

CANCEL read_loop