In [2]:
import pandas as pd
from binance.client import Client

In [3]:
api_key = "rscVkDlqydal1ify7SpIYN6dMHSfvwxnyE9yw7ywXZRy2IYmsnaNXDFTVd8lyhFX"  # TESTING testnet.binance.vision
api_secret = "x9WMnANbBbNHKR420msoNsEFyGjrb9EMXJzMj2a2KMR6SPxohYWUCCMeGQI35BET"  # TESTING testnet.binance.vision

In [4]:
client = Client(api_key=api_key, api_secret=api_secret, testnet=True)

In [16]:
account = client.get_account()

In [17]:
df = pd.DataFrame(account["balances"])
df

  asset             free      locked
0   BNB    1000.00000000  0.00000000
1   BTC       1.00000000  0.00000000
2  BUSD   10000.00000000  0.00000000
3   ETH     100.00000000  0.00000000
4   LTC     500.00000000  0.00000000
5   TRX  500000.00000000  0.00000000
6  USDT   10000.38171984  0.00000000
7   XRP   50000.00000000  0.00000000

In [8]:
order = client.create_order(symbol = "BTCUSDT", side = "BUY", type = "MARKET", quantity = 0.1)

In [9]:
order

{'symbol': 'BTCUSDT',
 'orderId': 5986748,
 'orderListId': -1,
 'clientOrderId': 'pe2I8xTxZENEBP1q2LRK24',
 'transactTime': 1665997575333,
 'price': '0.00000000',
 'origQty': '0.10000000',
 'executedQty': '0.10000000',
 'cummulativeQuoteQty': '1926.89106720',
 'status': 'FILLED',
 'timeInForce': 'GTC',
 'type': 'MARKET',
 'side': 'BUY',
 'fills': [{'price': '19268.88000000',
   'qty': '0.06592000',
   'commission': '0.00000000',
   'commissionAsset': 'BTC',
   'tradeId': 2173823},
  {'price': '19268.97000000',
   'qty': '0.03408000',
   'commission': '0.00000000',
   'commissionAsset': 'BTC',
   'tradeId': 2173824}]}

In [14]:
pd.DataFrame(order["fills"])

            price         qty  commission commissionAsset  tradeId
0  19268.88000000  0.06592000  0.00000000             BTC  2173823
1  19268.97000000  0.03408000  0.00000000             BTC  2173824

In [15]:
order = client.create_order(symbol = "BTCUSDT", side = "SELL", type = "MARKET", quantity = 0.1)

In [18]:
trades = client.get_my_trades(symbol="BTCUSDT")

In [19]:
pd.DataFrame(trades)

,symbol,id,orderId,orderListId,price,qty,quoteQty,commission,commissionAsset,time,isBuyer,isMaker,isBestMatch
0,BTCUSDT,2173823,5986748,-1,19268.88000000,0.06592000,1270.20456960,0.00000000,BTC,1665997575333,True,False,True
1,BTCUSDT,2173824,5986748,-1,19268.97000000,0.03408000,656.68649760,0.00000000,BTC,1665997575333,True,False,True
2,BTCUSDT,2175045,5990819,-1,19272.93000000,0.09171600,1767.63604788,0.00000000,USDT,1665998058040,False,False,True
3,BTCUSDT,2175046,5990819,-1,19270.49000000,0.00828400,159.63673916,0.00000000,USDT,1665998058040,False,False,True