In [2]:
from binance.client import Client
import pandas as pd

In [4]:
api_key = "8AiGAyxlhYQaRpE1s7097hx5sZ12Ogtr8ir9DsyztaD5j24LrI0fEoToDzCI5lle"
api_secret = "VhudTs0HsBVFNdSTghmqfCjUuIXF6rFiXIfROxHIaM71TGgib7NeZ5aOsJUHjI9f"

In [5]:
client = Client(api_key=api_key, api_secret=api_secret)

In [9]:
def get_history(symbol, interval, start, end=None):
    bars = client.get_historical_klines(symbol=symbol, interval=interval, start_str=start, end_str=end, limit=1000)
    
    df = pd.DataFrame(bars)
    df["Date"] = pd.to_datetime(df.iloc[:,0], unit="ms")
    df.columns = ["Open Time", "Open", "High", "Low", "Close", "Volume", "Close Time", "Quote Asset Volume", "Number Of Trades", "Taker Buy Base Asset Volume", "Taker Buy Quote Asset Volume", "Ignore", "Date"]
    df = df[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
    df.set_index("Date", inplace=True)

    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors="coerce")
    return df

In [7]:
timestamp = client._get_earliest_valid_timestamp(symbol="BTCUSDT", interval="1d")
timestamp

1502928000000

In [11]:
df = get_history(symbol="BTCUSDT", interval="1d", start=timestamp)
df

                Open      High       Low     Close         Volume
Date
2017-08-17   4261.48   4485.39   4200.74   4285.08     795.150377
2017-08-18   4285.08   4371.52   3938.77   4108.37    1199.888264
2017-08-19   4108.37   4184.69   3850.00   4139.98     381.309763
2017-08-20   4120.98   4211.08   4032.62   4086.29     467.083022
2017-08-21   4069.13   4119.62   3911.79   4016.00     691.743060
...              ...       ...       ...       ...            ...
2022-10-12  19060.00  19238.31  18965.88  19155.53  213826.267310
2022-10-13  19155.10  19513.79  18190.00  19375.13  399756.683370
2022-10-14  19375.58  19951.87  19070.37  19176.93  351634.326010
2022-10-15  19176.93  19227.68  18975.18  19069.39  113847.642320
2022-10-16  19068.40  19195.00  19063.74  19147.58   49810.511940

[1887 rows x 5 columns]