In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "iframe"

In [79]:
def get_data(f=r"EURUSD_Candlestick_4_Hour_ASK_05.05.2003-16.10.2021.csv"):
    # df = pd.read_csv(f)
    df = pd.read_csv(f, nrows=1500)
    df.columns=['time', 'open', 'high', 'low', 'close', 'volume']
    #Check if NA values are in data
    df=df[df['volume']!=0]
    df.reset_index(drop=True, inplace=True)
    return df
    
df = get_data()

In [80]:
def find_min_max(df, shift=5):
    df["minmax"] = 0
    
    df.loc[df['high'] == df['high'].rolling(window=shift, center=True).max(), 'minmax'] = 1  # Assign 1 to maximum points
    df.loc[df['low'] == df['low'].rolling(window=shift, center=True).min(), 'minmax'] = -1  # Assign -1 to minimum points
    return df


find_min_max(df, shift=5)

,time,open,high,low,close,volume,minmax
0,04.05.2003 21:00:00.000,1.12354,1.12354,1.12166,1.12274,95533.0976,0
1,05.05.2003 01:00:00.000,1.12242,1.12276,1.12067,1.12126,93778.5996,0
2,05.05.2003 05:00:00.000,1.12139,1.12255,1.12030,1.12113,90924.6992,-1
3,05.05.2003 09:00:00.000,1.12092,1.12331,1.12049,1.12174,91254.6992,0
4,05.05.2003 13:00:00.000,1.12194,1.12900,1.12130,1.12712,308003.4083,0
...,...,...,...,...,...,...,...
1494,15.04.2004 21:00:00.000,1.19850,1.19918,1.19566,1.19617,110856.0996,0
1495,16.04.2004 01:00:00.000,1.19630,1.20148,1.19504,1.20137,109990.5000,0
1496,16.04.2004 05:00:00.000,1.20152,1.20213,1.19716,1.19783,108786.8008,0
1497,16.04.2004 09:00:00.000,1.19799,1.19859,1.19225,1.19483,108382.3008,0
1498,16.04.2004 13:00:00.000,1.19470,1.20455,1.19387,1.19970,321083.9004,0

In [84]:
def visualize(df):
    # Assuming you have a DataFrame named 'df' with columns 'index', 'open', 'high', 'low', 'close', and 'minmax'

    fig = go.Figure(data=[go.Candlestick(x=df.index,
                                     open=df['open'],
                                     high=df['high'],
                                     low=df['low'],
                                     close=df['close'])])
    min_points = df[df['minmax'] == -1]
    max_points = df[df['minmax'] == 1]
    fig.add_trace(go.Scatter(x=min_points.index, y=min_points["low"] * 0.997, mode="markers", marker=dict(color="red", size=5), name="Min"))
    fig.add_trace(go.Scatter(x=max_points.index, y=max_points["high"] * 1.003, mode="markers", marker=dict(color="green", size=5), name="Max"))
    
    fig.show()
# fig.add_scatter(x=dfpl.index, y=dfpl['pointpos'], mode="markers",
                # marker=dict(size=5, color="MediumPurple"),
                # name="pivot")


visualize(df)