In [13]:
from datetime import datetime, timedelta
from IPython.display import clear_output
import pandas_datareader.data as web
import yfinance as yf
import pandas as pd
import numpy as np
import pyautogui
import time

pd.options.display.float_format = '{:,.2f}'.format

# Downloads tickers and formatting data

### Fetching tickers from nasdaq and filtering out ETFs are stocks that we have a problem getting their prices

In [3]:
def get_all_tickers(etf=False):
    # Get a list of all available tickers from Yahoo Finance
    all_tickers = web.get_nasdaq_symbols()
    all_tickers = all_tickers[~all_tickers["Test Issue"]]  # Filter out stocks that we can't fetch their data for some reason
    
    if not etf:
        all_tickers = all_tickers[~all_tickers["ETF"]]  # Filter out ETFs
    tickers = all_tickers.index.tolist()
    return [str(ticker) for ticker in tickers if str(ticker).isalpha()]

### Formatting DataFrame

In [4]:
def get_info(df):
    high = df['High'].max()
    close = df['Close'].iloc[-1]
    pct_to_52 = ((high - close) / high) * 100
    volume = df["Volume"].iloc[-1]
    date_of_high = df['High'].idxmax()
    
    new_df = pd.DataFrame({'Close': close, '52wk High': high, "Percent from 52": pct_to_52, "Volume": volume, "doh": date_of_high, "Volume$": volume * close})

    return new_df

### Downloads data

In [5]:
def get_data(tickers_list):
    return yf.download(tickers_list, period="1y")

In [6]:
s = time.time()
data = get_data(get_all_tickers())
data_cop = data.copy()
print(time.time() - s)

[*********************100%***********************]  7444 of 7444 completed

54 Failed downloads:
- LBBBR: Period '1y' is invalid, must be one of ['1d', '5d']
- HSPOR: Period '1y' is invalid, must be one of ['1d', '5d']
- SAGAR: Period '1y' is invalid, must be one of ['1d', '5d']
- ASCAR: Period '1y' is invalid, must be one of ['1d', '5d']
- HHGCR: Period '1y' is invalid, must be one of ['1d', '5d']
- HMACR: Period '1y' is invalid, must be one of ['1d', '5d']
- GLSTR: Period '1y' is invalid, must be one of ['1d', '5d']
- MARXR: Period '1y' is invalid, must be one of ['1d', '5d']
- SFB: Period '1y' is invalid, must be one of ['1d', '5d']
- BRLIR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATMCR: Period '1y' is invalid, must be one of ['1d', '5d']
- NVACR: Period '1y' is invalid, must be one of ['1d', '5d']
- EAI: No data found for this date range, symbol may be delisted
- ENERR: Period '1y' is invalid, must be one of ['1d', '5d']
- MSSAR: Period '1y' is invalid, must be one of ['1d', '5d']
- PPHPR: Period '1y' is invalid, must be one of ['1d', '5d']
- EFHTR: Period '1y' is invalid, must be one of ['1d', '5d']
- NOVVR: Period '1y' is invalid, must be one of ['1d', '5d']
- DMAQR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATAKR: Period '1y' is invalid, must be one of ['1d', '5d']
- MCAGR: Period '1y' is invalid, must be one of ['1d', '5d']
- BLACR: Period '1y' is invalid, must be one of ['1d', '5d']
- CLRCR: Period '1y' is invalid, must be one of ['1d', '5d']
- ADOCR: Period '1y' is invalid, must be one of ['1d', '5d']
- WTMAR: Period '1y' is invalid, must be one of ['1d', '5d']
- BNIXR: Period '1y' is invalid, must be one of ['1d', '5d']
- ARIZR: Period '1y' is invalid, must be one of ['1d', '5d']
- BLEUR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATMVR: Period '1y' is invalid, must be one of ['1d', '5d']
- SRFM: No data found, symbol may be delisted
- JGGCR: Period '1y' is invalid, must be one of ['1d', '5d']
- BWAQR: Period '1y' is invalid, must be one of ['1d', '5d']
- KYCHR: Period '1y' is invalid, must be one of ['1d', '5d']
- STRCW: Period '1y' is invalid, must be one of ['1d', '5d']
- AQUNR: Period '1y' is invalid, must be one of ['1d', '5d']
- TMTCR: Period '1y' is invalid, must be one of ['1d', '5d']
- TENKR: Period '1y' is invalid, must be one of ['1d', '5d']
- EMCGR: Period '1y' is invalid, must be one of ['1d', '5d']
- RWODR: Period '1y' is invalid, must be one of ['1d', '5d']
- IGTAR: Period '1y' is invalid, must be one of ['1d', '5d']
- PLTNR: Period '1y' is invalid, must be one of ['1d', '5d']
- BRACR: Period '1y' is invalid, must be one of ['1d', '5d']
- GBBKR: Period '1y' is invalid, must be one of ['1d', '5d']
- KACLR: Period '1y' is invalid, must be one of ['1d', '5d']
- CCIF: Period '1y' is invalid, must be one of ['1d', '5d']
- CETUR: Period '1y' is invalid, must be one of ['1d', '5d']
- SVIIR: Period '1y' is invalid, must be one of ['1d', '5d']
- PNACR: Period '1y' is invalid, must be one of ['1d', '5d']
- MBTCR: Period '1y' is invalid, must be one of ['1d', '5d']
- RCA: No data found for this date range, symbol may be delisted
- CSLMR: Period '1y' is invalid, must be one of ['1d', '5d']
- CLOER: Period '1y' is invalid, must be one of ['1d', '5d']
- BREZR: Period '1y' is invalid, must be one of ['1d', '5d']
- GFGDR: Period '1y' is invalid, must be one of ['1d', '5d']
510.1756589412689

In [7]:
df = get_info(data)
cop = df.copy()
df

      Close  52wk High  Percent from 52       Volume        doh        Volume$
A    128.47     160.26            19.84 2,507,500.00 2022-12-13 322,138,528.06
AA    34.84      58.24            40.17 7,281,200.00 2022-08-26 253,677,009.11
AAC   10.59      10.61             0.19   460,800.00 2023-07-25   4,879,872.07
AACG   1.34       2.64            49.24     7,000.00 2022-08-18       9,380.00
AACI  10.57      12.20            13.36     3,200.00 2023-01-30      33,824.00
...     ...        ...              ...          ...        ...            ...
ZVSA   0.17      25.00            99.34   818,700.00 2022-12-12     135,904.19
ZWS   30.64      31.77             3.56 2,048,600.00 2022-08-18  62,769,102.75
ZYME   7.51      10.80            30.46   468,000.00 2023-01-19   3,514,680.11
ZYNE   0.36       1.39            73.81    69,100.00 2022-08-08      25,152.40
ZYXI   9.57      17.25            44.52   183,200.00 2023-01-06   1,753,223.94

[7444 rows x 6 columns]

### Filtering out stocks that doesn't match

In [8]:
df = cop.copy()
df = df.dropna(subset=['Close'])
vol_thresh = 10000
vold_thresh = 500000
df = df[df['Volume'] >= vol_thresh]
df = df[df['Volume$'] >= vold_thresh]
time_thresh1 = datetime.now() - timedelta(days=90)  # Hit the high between 120 and 200 days ago (3 - 7 months)
time_thresh2 = datetime.now() - timedelta(days=200)  
df = df[(df["doh"] < time_thresh1) & (df["doh"] > time_thresh2)]
df.sort_values(by='Percent from 52', ascending=True).head(40)

,Close,52wk High,Percent from 52,Volume,doh,Volume$
TRTL,10.39,10.40,0.10,"98,400.00",2023-01-12,"1,022,376.03"
TFII,128.54,128.93,0.30,"657,600.00",2023-02-16,"84,527,899.58"
PRH,25.65,25.81,0.62,"45,000.00",2023-02-02,"1,154,249.98"
SAN,4.06,4.09,0.73,"10,318,000.00",2023-03-06,"41,891,079.41"
SNDR,30.58,30.93,1.13,"497,500.00",2023-02-02,"15,213,549.96"
SCRMU,10.42,10.55,1.19,"257,500.00",2023-01-10,"2,683,150.02"
CEM,36.73,37.20,1.26,"88,600.00",2023-02-16,"3,254,277.96"
SEIC,63.85,64.69,1.30,"664,200.00",2023-02-03,"42,409,168.99"
HDB,70.81,71.76,1.32,"2,175,900.00",2023-01-24,"154,075,473.69"
MKL,"1,438.92","1,458.56",1.35,"32,500.00",2023-01-17,"46,764,901.43"
CBRE,88.36,89.58,1.36,"1,359,700.00",2023-02-14,"120,143,092.83"
EPRT,26.05,26.43,1.44,"753,000.00",2023-02-28,"19,615,649.43"
GVA,43.48,44.15,1.52,"744,100.00",2023-02-17,"32,353,467.66"
VTOL,30.44,30.94,1.62,"95,700.00",2023-02-03,"2,913,108.05"
NDSN,247.09,251.26,1.66,"186,700.00",2023-02-02,"46,131,702.32"
UBS,21.90,22.30,1.78,"1,875,600.00",2023-03-06,"41,075,639.28"
GSL,20.75,21.15,1.89,"245,200.00",2023-03-01,"5,087,900.00"
NXP,14.65,14.94,1.94,"93,200.00",2023-02-09,"1,365,379.96"
TX,44.92,45.81,1.94,"341,900.00",2023-03-06,"15,358,147.37"
VOYA,76.55,78.11,2.00,"572,900.00",2023-02-16,"43,855,496.75"
CMI,256.22,261.91,2.17,"653,800.00",2023-03-07,"167,516,636.80"
HLN,8.85,9.05,2.21,"2,249,700.00",2023-04-06,"19,909,845.86"
MFIN,9.14,9.35,2.25,"152,900.00",2023-02-02,"1,397,506.05"
DD,76.63,78.40,2.26,"2,237,400.00",2023-02-09,"171,451,955.85"
WGO,68.87,70.53,2.35,"365,900.00",2023-02-02,"25,199,534.00"
NMR,4.13,4.23,2.36,"332,800.00",2023-02-21,"1,374,464.04"
HEP,19.38,19.85,2.37,"216,300.00",2023-01-23,"4,191,893.82"
CGBD,15.50,15.89,2.45,"189,000.00",2023-02-28,"2,929,500.00"
PDLB,9.79,10.04,2.49,"126,100.00",2023-01-10,"1,234,519.00"
CE,125.10,128.35,2.53,"687,300.00",2023-02-02,"85,981,228.95"
L,61.63,63.24,2.55,"397,200.00",2023-02-09,"24,479,436.42"
MFC,19.88,20.40,2.55,"3,056,000.00",2023-02-16,"60,753,277.44"
CION,11.07,11.36,2.55,"172,200.00",2023-01-27,"1,906,253.95"
CMC,56.60,58.09,2.56,"709,500.00",2023-02-03,"40,157,698.92"
ENOV,64.99,66.71,2.58,"307,300.00",2023-02-02,"19,971,426.34"
PG,153.94,158.11,2.64,"7,013,500.00",2023-04-21,"1,079,658,207.12"
MSCI,557.25,572.50,2.66,"776,100.00",2023-02-02,"432,481,725.00"
SSNC,62.76,64.52,2.73,"971,600.00",2023-02-09,"60,977,614.37"
LOCC,10.34,10.63,2.73,"200,000.00",2023-04-17,"2,068,000.03"
WAVC,10.40,10.70,2.80,"303,600.00",2023-04-19,"3,157,439.88"

# Testing out (manually backtesting)

In [40]:
def get_info_test(df):        
    days_back = 12
    
    _highs = df['High'][:-days_back].max()
    _closes = df['Close'].iloc[-days_back]
    _pct_to_52 = ((_highs - _closes) / _highs) * 100
    # _volume = np.nanmean(df["Volume"].iloc[-days_back])
    _date_of_high = df['High'][:-days_back].idxmax()
    
    highs = df['High'].max()
    date_of_high = df['High'].idxmax()
    closes = df['Close'].iloc[-1]
    volume = df["Volume"].iloc[-3:].mean()  # Calculates the average volume in the last 3 days
    pct_to_52 = ((highs - closes) / highs) * 100
    
    new_df = pd.DataFrame({'Old Close': _closes, 'Old 52wk High': _highs, "Old Percent from 52": _pct_to_52, "Volume": volume, "doh": _date_of_high, "Close": closes, "Prct252": pct_to_52, "high52": highs, "date of break": date_of_high})

    return new_df

In [42]:
df_test = get_info_test(data)
cop_test = df_test.copy()
cop_test

,Old Close,Old 52wk High,Old Percent from 52,Volume,doh,Close,Prct252,high52,date of break
A,118.48,160.26,26.07,2236033.33,2022-12-13,128.47,19.84,160.26,2022-12-13
AA,34.69,58.24,40.43,7415500.00,2022-08-26,34.84,40.17,58.24,2022-08-26
AAC,10.58,10.58,0.00,605633.33,2023-06-30,10.59,0.19,10.61,2023-07-25
AACG,1.40,2.64,46.97,11666.67,2022-08-18,1.34,49.24,2.64,2022-08-18
AACI,10.41,12.20,14.67,15566.67,2023-01-30,10.57,13.36,12.20,2023-01-30
...,...,...,...,...,...,...,...,...,...
ZVSA,0.25,25.00,99.00,4325066.67,2022-12-12,0.17,99.34,25.00,2022-12-12
ZWS,27.10,31.77,14.70,2320000.00,2022-08-18,30.64,3.56,31.77,2022-08-18
ZYME,8.01,10.80,25.83,516733.33,2023-01-19,7.51,30.46,10.80,2023-01-19
ZYNE,0.35,1.39,74.89,93766.67,2022-08-08,0.36,73.81,1.39,2022-08-08
ZYXI,9.06,17.25,47.48,163433.33,2023-01-06,9.57,44.52,17.25,2023-01-06

### Filtering and sorting

In [51]:
df_test = cop_test.copy()
time_thresh = datetime.now() - timedelta(days=120)
break_time_thresh = datetime.now() - timedelta(days=2)  # How many days ago it broke
vol_thresh = 10000
# print(break_time_thresh)
df_test = df_test[df_test["Old 52wk High"] != df_test["high52"]]
df_test = df_test[df_test["doh"] < time_thresh]
df_test = df_test[df_test["date of break"] > break_time_thresh]
df_test["diff"] = datetime.now() - df_test["date of break"]
pd.options.display.float_format = '{:.2f}'.format
df_test.sort_values(by='Volume', ascending=False).head(20)

,Old Close,Old 52wk High,Old Percent from 52,Volume,doh,Close,Prct252,high52,date of break,diff
SIMO,63.65,87.99,27.66,6637466.67,2022-07-28,65.35,31.45,95.33,2023-07-26,1 days 12:37:47.598766
IBN,23.05,23.75,2.95,3770833.33,2022-11-30,24.66,0.56,24.80,2023-07-26,1 days 12:37:47.598766
DASH,79.85,87.00,8.22,2571333.33,2022-08-05,86.11,1.14,87.10,2023-07-26,1 days 12:37:47.598766
VST,26.52,27.29,2.82,2509066.67,2023-03-07,28.41,0.47,28.55,2023-07-26,1 days 12:37:47.598766
CZR,52.25,56.75,7.93,2379233.33,2023-02-03,59.38,0.12,59.45,2023-07-26,1 days 12:37:47.598766
KNSA,14.00,17.19,18.58,2325933.33,2022-12-01,20.20,2.18,20.65,2023-07-26,1 days 12:37:47.598766
LOGI,60.82,68.17,10.78,2102066.67,2023-01-11,72.38,0.25,72.56,2023-07-26,1 days 12:37:47.598766
ORI,25.48,26.72,4.64,1968233.33,2023-02-13,27.20,0.33,27.29,2023-07-26,1 days 12:37:47.598766
VICR,54.46,82.40,33.91,1908666.67,2022-08-16,93.70,0.15,93.84,2023-07-26,1 days 12:37:47.598766
VIV,8.56,9.26,7.56,1870400.00,2022-08-10,9.26,0.22,9.28,2023-07-26,1 days 12:37:47.598766
GLTO,2.55,2.95,13.56,1843400.00,2023-02-08,3.16,14.46,3.70,2023-07-26,1 days 12:37:47.598766
MPLX,34.52,35.37,2.40,1791900.00,2023-02-16,35.53,0.73,35.79,2023-07-26,1 days 12:37:47.598766
NEX,10.35,11.36,8.89,1703366.67,2022-10-25,11.67,0.51,11.73,2023-07-26,1 days 12:37:47.598766
COST,529.64,564.75,6.22,1664666.67,2022-08-18,566.17,0.33,568.03,2023-07-26,1 days 12:37:47.598766
TPX,43.35,44.28,2.10,1381766.67,2023-02-02,46.29,1.07,46.79,2023-07-26,1 days 12:37:47.598766
MDU,21.21,22.33,5.00,1379600.00,2023-02-28,22.43,0.49,22.54,2023-07-26,1 days 12:37:47.598766
CEG,94.36,97.89,3.61,1058533.33,2022-11-23,97.34,0.92,98.24,2023-07-26,1 days 12:37:47.598766
ODFL,377.91,381.81,1.02,1033533.33,2023-02-02,420.75,0.61,423.34,2023-07-26,1 days 12:37:47.598766
BG,102.11,106.99,4.56,1014666.67,2023-03-14,108.75,0.46,109.25,2023-07-26,1 days 12:37:47.598766
LZ,12.57,13.94,9.83,990433.33,2022-08-12,14.70,0.00,14.70,2023-07-26,1 days 12:37:47.598766

# Random shit

In [9]:
all_tickers = web.get_nasdaq_symbols()
all_tickers = all_tickers[~all_tickers["ETF"] & ~all_tickers["Test Issue"]]
# all_tickers.loc["O"]
all_tickers

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.00,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.00,False,NaN,AA,AA,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.00,False,NaN,AAC,AAC,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.00,False,NaN,AAC.U,AAC=,False
AAC.W,True,Ares Acquisition Corporation Redeemable Warran...,N,,False,100.00,False,NaN,AAC.WS,AAC+,False
...,...,...,...,...,...,...,...,...,...,...,...
ZVSA,True,"ZyVersa Therapeutics, Inc. - Common Stock",Q,G,False,100.00,False,D,NaN,ZVSA,False
ZWS,True,Zurn Elkay Water Solutions Corporation Common ...,N,,False,100.00,False,NaN,ZWS,ZWS,False
ZYME,True,Zymeworks Inc. - Common Stock,Q,Q,False,100.00,False,N,NaN,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,S,False,100.00,False,D,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.00,False,N,NaN,ZYXI,False

# Import to TradingView using pyautgui

In [101]:
def get_fit_tickers(df, num):
    return df.index[:num].tolist()


def add_to_tv(df):
    # Click plus (1773, 164)
    tickers = get_fit_tickers(df, 100)
    print(tickers)
    pyautogui.click(1773, 164)
    for ticker in tickers:
        pyautogui.write(ticker)
        pyautogui.press("enter")

# Finding stocks that broke 52wk high yesterday

### First DataFrame that contains necessary information

In [111]:
def parse_df(df):
    
    old_high = 2  # How many days ago it broke high (x or less)
    
    high = df['High'].max()  # 52 wk high
    close = df['Close'].iloc[-1]  # Close of last candle
    pct_to_52 = ((high - close) / high) * 100  # Percent change to 52wk high
    volume = df["Volume"].iloc[-1]  # Volume of last candle
    old_doh = df['High'][:-3].idxmax()  # 52wk high before 2 days
    doh = df['High'].idxmax()  # 52wk high today
    new_df = pd.DataFrame({'Close': close, '52wk High': high, "% to 52wk": pct_to_52, "Volume": volume, "Date of high": doh, "Old date of high": old_doh, "Volume$": volume * close})

    return new_df

In [112]:
df = parse_df(data)
cop = df.copy()
# df

### Filtering and sorting DataFrame

In [113]:
def filter_sort_df(df):
    df = df.dropna(subset=['Close'])

    vol_thresh = 10000  # Volume threshold
    vold_thresh = 500000  # Volume in dollar threshold, helps filtering out stocks that don't really have a high volume but due to low price they have a high volume
    time_thresh1 = datetime.now() - timedelta(days=75)  # Hit the high between 120 and 200 days ago (3 - 7 months)
    time_thresh2 = datetime.now() - timedelta(days=200)  

    df = df[df['Volume'] >= vol_thresh]
    df = df[df['Volume$'] >= vold_thresh]
    df = df[(df["Old date of high"] < time_thresh1) & (df["Old date of high"] > time_thresh2)]  # Old doh (last support) is between 90 to 200 days'
    df = df[df["Old date of high"] != df["Date of high"]]
    
    return df.sort_values(by='% to 52wk', ascending=True)

In [115]:
df = filter_sort_df(cop)
df
add_to_tv(df)

['JBHT', 'LOGI', 'ORI', 'AJRD', 'BG', 'MDU', 'DOOO', 'STLA', 'PARR', 'ZTS', 'MPLX', 'EMO', 'SCCO', 'CCU', 'VVX', 'CHE', 'ABT', 'MNSO', 'TENB', 'OI', 'AESI', 'HCC', 'AAN', 'WW', 'HESM', 'PJT', 'TXN', 'GLTO', 'GENQ', 'AURC']

In [105]:
cop.loc["JBHT"]

Close                            202.83
52wk High                        203.18
% to 52wk                          0.17
Volume                       1021600.00
Date of high        2023-07-26 00:00:00
Old date of high    2023-02-02 00:00:00
Volume$                    207211129.87
Name: JBHT, dtype: object