In [1]:
from datetime import datetime, timedelta
from IPython.display import clear_output
import pandas_datareader.data as web
import yfinance as yf
import pandas as pd
import numpy as np
import pyautogui
import time

pd.options.display.float_format = '{:,.2f}'.format

# Downloads tickers and formatting data

### Fetching tickers from nasdaq and filtering out ETFs are stocks that we have a problem getting their prices

In [2]:
def get_all_tickers(etf=False):
    # Get a list of all available tickers from Yahoo Finance
    all_tickers = web.get_nasdaq_symbols()
    all_tickers = all_tickers[~all_tickers["Test Issue"]]  # Filter out stocks that we can't fetch their data for some reason
    
    if not etf:
        all_tickers = all_tickers[~all_tickers["ETF"]]  # Filter out ETFs
    tickers = all_tickers.index.tolist()
    return [str(ticker) for ticker in tickers if str(ticker).isalpha()]

### Formatting DataFrame

In [3]:
def get_info(df):
    high = df['High'].max()
    close = df['Close'].iloc[-1]
    pct_to_52 = ((high - close) / high) * 100
    volume = df["Volume"].iloc[-1]
    date_of_high = df['High'].idxmax()
    
    new_df = pd.DataFrame({'Close': close, '52wk High': high, "Percent from 52": pct_to_52, "Volume": volume, "doh": date_of_high, "Volume$": volume * close})

    return new_df

### Downloads data

In [4]:
def get_data(tickers_list):
    return yf.download(tickers_list, period="1y")

In [11]:
s = time.time()
data = get_data(get_all_tickers())
data_cop = data.copy()
print(time.time() - s)

[*********************100%***********************]  7429 of 7429 completed

55 Failed downloads:
- ASCAR: Period '1y' is invalid, must be one of ['1d', '5d']
- WINVR: Period '1y' is invalid, must be one of ['1d', '5d']
- ADOCR: Period '1y' is invalid, must be one of ['1d', '5d']
- LBBBR: Period '1y' is invalid, must be one of ['1d', '5d']
- NVACR: Period '1y' is invalid, must be one of ['1d', '5d']
- PPHPR: Period '1y' is invalid, must be one of ['1d', '5d']
- DISTR: Period '1y' is invalid, must be one of ['1d', '5d']
- EAI: No data found for this date range, symbol may be delisted
- JGGCR: Period '1y' is invalid, must be one of ['1d', '5d']
- SFB: Period '1y' is invalid, must be one of ['1d', '5d']
- PLTNR: Period '1y' is invalid, must be one of ['1d', '5d']
- STRCW: Period '1y' is invalid, must be one of ['1d', '5d']
- GODNR: Period '1y' is invalid, must be one of ['1d', '5d']
- DMAQR: Period '1y' is invalid, must be one of ['1d', '5d']
- BLACR: Period '1y' is invalid, must be one of ['1d', '5d']
- TENKR: Period '1y' is invalid, must be one of ['1d', '5d']
- ACAXR: Period '1y' is invalid, must be one of ['1d', '5d']
- BLEUR: Period '1y' is invalid, must be one of ['1d', '5d']
- CLOER: Period '1y' is invalid, must be one of ['1d', '5d']
- PNACR: Period '1y' is invalid, must be one of ['1d', '5d']
- ESHAR: Period '1y' is invalid, must be one of ['1d', '5d']
- MCAGR: Period '1y' is invalid, must be one of ['1d', '5d']
- CLRCR: Period '1y' is invalid, must be one of ['1d', '5d']
- MCAFR: Period '1y' is invalid, must be one of ['1d', '5d']
- KYCHR: Period '1y' is invalid, must be one of ['1d', '5d']
- GFGDR: Period '1y' is invalid, must be one of ['1d', '5d']
- BWAQR: Period '1y' is invalid, must be one of ['1d', '5d']
- HMACR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATMCR: Period '1y' is invalid, must be one of ['1d', '5d']
- ENERR: Period '1y' is invalid, must be one of ['1d', '5d']
- MCACR: Period '1y' is invalid, must be one of ['1d', '5d']
- FEXDR: Period '1y' is invalid, must be one of ['1d', '5d']
- EMCGR: Period '1y' is invalid, must be one of ['1d', '5d']
- ASCBR: Period '1y' is invalid, must be one of ['1d', '5d']
- GBBKR: Period '1y' is invalid, must be one of ['1d', '5d']
- FLFVR: Period '1y' is invalid, must be one of ['1d', '5d']
- GDSTR: Period '1y' is invalid, must be one of ['1d', '5d']
- YOTAR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATMVR: Period '1y' is invalid, must be one of ['1d', '5d']
- HSPOR: Period '1y' is invalid, must be one of ['1d', '5d']
- RFACR: Period '1y' is invalid, must be one of ['1d', '5d']
- WTMAR: Period '1y' is invalid, must be one of ['1d', '5d']
- CETUR: Period '1y' is invalid, must be one of ['1d', '5d']
- AIBBR: Period '1y' is invalid, must be one of ['1d', '5d']
- ATAKR: Period '1y' is invalid, must be one of ['1d', '5d']
- RCKTW: No data found for this date range, symbol may be delisted
- GLSTR: Period '1y' is invalid, must be one of ['1d', '5d']
- KACLR: Period '1y' is invalid, must be one of ['1d', '5d']
- SAGAR: Period '1y' is invalid, must be one of ['1d', '5d']
- AQUNR: Period '1y' is invalid, must be one of ['1d', '5d']
- RCA: No data found for this date range, symbol may be delisted
- IGTAR: Period '1y' is invalid, must be one of ['1d', '5d']
- ONFOW: Period '1y' is invalid, must be one of ['1d', '5d']
- BRLIR: Period '1y' is invalid, must be one of ['1d', '5d']
- MSSAR: Period '1y' is invalid, must be one of ['1d', '5d']
395.28882336616516

In [34]:
df = get_info(data)
cop = df.copy()
df

      Close  52wk High  Percent from 52       Volume        doh       Volume$
A    126.87     160.26            20.83   437,879.00 2022-12-13 55,553,709.93
AA    33.80      58.24            41.96 1,338,402.00 2022-08-26 45,237,986.58
AAC   10.65      10.65             0.05     3,690.00 2023-07-31     39,280.05
AACG   1.32       2.64            50.00     2,305.00 2022-08-18      3,042.60
AACI    NaN      12.20              NaN          NaN 2023-01-30           NaN
...     ...        ...              ...          ...        ...           ...
ZVSA   0.17      25.00            99.33   173,215.00 2022-12-12     28,840.30
ZWS   30.21      31.77             4.91   129,665.00 2022-08-18  3,917,179.53
ZYME   7.16      10.80            33.66   110,629.00 2023-01-19    792,656.78
ZYNE   0.35       1.39            74.97    66,604.00 2022-08-08     23,171.53
ZYXI   8.25      17.25            52.17    49,502.00 2023-01-06    408,391.50

[7428 rows x 6 columns]

### Filtering out stocks that doesn't match

In [35]:
df = cop.copy()
df = df.dropna(subset=['Close'])
vol_thresh = 10000
vold_thresh = 500000
df = df[df['Volume'] >= vol_thresh]
df = df[df['Volume$'] >= vold_thresh]
time_thresh1 = datetime.now() - timedelta(days=90)  # Hit the high between 120 and 200 days ago (3 - 7 months)
time_thresh2 = datetime.now() - timedelta(days=200)  
df = df[(df["doh"] < time_thresh1) & (df["doh"] > time_thresh2)]
df.sort_values(by='Percent from 52', ascending=True).head(40)

      Close  52wk High  Percent from 52       Volume        doh        Volume$
PG   156.97     158.11             0.72 1,073,261.00 2023-04-21 168,469,780.48
MTSI  76.00      76.56             0.72   182,763.00 2023-03-09  13,890,901.31
OSK  105.62     106.66             0.97    98,951.00 2023-02-03  10,451,699.38
UBS   22.05      22.30             1.13   527,463.00 2023-03-06  11,627,921.88
CGBD  15.61      15.89             1.76    66,341.00 2023-02-28   1,035,582.99
SIG   81.93      83.42             1.79    86,969.00 2023-02-03   7,125,370.20
FAF   63.26      64.66             2.17    62,199.00 2023-02-02   3,934,708.64
GNW    6.24       6.40             2.42   615,633.00 2023-02-15   3,844,628.01
XPRO  23.42      24.04             2.56    97,478.00 2023-03-02   2,283,422.08
CMC   56.59      58.09             2.58    69,189.00 2023-02-03   3,915,405.52
BOCN  10.65      10.94             2.61    47,424.00 2023-04-17     505,065.58
REG   66.72      68.56             2.68   266,455.00 2023-02-02  17,777,877.93
TBLD  15.49      15.95             2.85    37,795.00 2023-02-02     585,633.52
LYB   98.34     101.30             2.92   313,950.00 2023-02-13  30,873,841.85
AMR  177.97     183.46             2.99    55,080.00 2023-03-08   9,802,587.67
DFIN  48.87      50.38             3.01    22,332.00 2023-02-17   1,091,253.22
NXE    4.95       5.11             3.03   878,783.00 2023-01-30   4,354,369.70
SEIC  62.66      64.69             3.14    77,096.00 2023-02-03   4,830,835.35
CION  11.00      11.36             3.17    64,069.00 2023-01-27     704,759.00
SAN    3.95       4.09             3.42   781,548.00 2023-03-06   3,087,114.64
MFC   19.66      20.40             3.63   240,371.00 2023-02-16   4,725,790.10
CNO   25.37      26.35             3.72   107,925.00 2023-02-23   2,738,057.34
AEG    5.47       5.69             3.87   404,966.00 2023-02-09   2,215,042.47
GVA   42.40      44.15             3.98    24,551.00 2023-02-17   1,040,839.66
HLMN   9.85      10.28             4.23   376,047.00 2023-02-02   3,702,182.82
WGO   67.44      70.53             4.38    30,098.00 2023-02-02   2,029,809.19
DKS  145.84     152.61             4.44   274,452.00 2023-03-09  40,026,078.67
MSCI 547.09     572.50             4.44    61,326.00 2023-02-02  33,550,536.06
ACM   87.89      92.16             4.63   221,891.00 2023-02-16  19,501,999.85
ENSG  97.44     102.26             4.71    28,529.00 2023-04-25   2,779,865.83
FCFS 100.65     105.68             4.76    43,345.00 2023-05-05   4,362,674.32
HES  152.71     160.52             4.86   216,485.00 2023-01-26  33,060,505.98
PFGC  60.04      63.22             5.03    97,874.00 2023-05-01   5,876,355.05
SLRC  15.28      16.09             5.03    93,583.00 2023-03-08   1,429,948.22
WEX  193.68     204.06             5.09    25,539.00 2023-02-09   4,946,393.33
NWS   20.72      21.86             5.22   113,793.00 2023-02-02   2,357,790.88
YUM  135.75     143.25             5.24   161,483.00 2023-05-02  21,921,317.25
ET    12.95      13.67             5.27 4,275,000.00 2023-01-24  55,361,249.18
COUR  15.83      16.73             5.37   230,018.00 2023-02-02   3,641,415.03
CDW  203.27     215.00             5.46   206,706.00 2023-02-17  42,017,129.50

# Testing out (manually backtesting)

In [32]:
def get_info_test(df):        
    days_back = 12
    
    _highs = df['High'][:-days_back].max()
    _closes = df['Close'].iloc[-days_back]
    _pct_to_52 = ((_highs - _closes) / _highs) * 100
    # _volume = np.nanmean(df["Volume"].iloc[-days_back])
    _date_of_high = df['High'][:-days_back].idxmax()
    
    highs = df['High'].max()
    date_of_high = df['High'].idxmax()
    closes = df['Close'].iloc[-1]
    volume = df["Volume"].iloc[-3:].mean()  # Calculates the average volume in the last 3 days
    pct_to_52 = ((highs - closes) / highs) * 100
    
    new_df = pd.DataFrame({'Old Close': _closes, 'Old 52wk High': _highs, "Old Percent from 52": _pct_to_52, "Volume": volume, "doh": _date_of_high, "Close": closes, "Prct252": pct_to_52, "high52": highs, "date of break": date_of_high})

    return new_df

In [33]:
df_test = get_info_test(data)
cop_test = df_test.copy()
cop_test

,Old Close,Old 52wk High,Old Percent from 52,Volume,doh,Close,Prct252,high52,date of break
A,127.62,160.26,20.37,"1,333,326.33",2022-12-13,126.87,20.83,160.26,2022-12-13
AA,33.38,58.24,42.68,"3,132,267.33",2022-08-26,33.80,41.96,58.24,2022-08-26
AAC,10.56,10.60,0.38,"21,163.33",2023-07-18,10.65,0.05,10.65,2023-07-31
AACG,1.39,2.64,47.35,"2,835.00",2022-08-18,1.32,50.00,2.64,2022-08-18
AACI,10.51,12.20,13.85,"8,276.50",2023-01-30,NaN,NaN,12.20,2023-01-30
...,...,...,...,...,...,...,...,...,...
ZVSA,0.20,25.00,99.21,"1,000,905.00",2022-12-12,0.17,99.33,25.00,2022-12-12
ZWS,27.33,31.77,13.98,"590,255.00",2022-08-18,30.21,4.91,31.77,2022-08-18
ZYME,7.87,10.80,27.13,"923,709.67",2023-01-19,7.16,33.66,10.80,2023-01-19
ZYNE,0.36,1.39,74.10,"96,968.00",2022-08-08,0.35,74.97,1.39,2022-08-08
ZYXI,9.17,17.25,46.84,"250,934.00",2023-01-06,8.25,52.17,17.25,2023-01-06

### Filtering and sorting

In [7]:
df_test = cop_test.copy()
time_thresh = datetime.now() - timedelta(days=120)
break_time_thresh = datetime.now() - timedelta(days=2)  # How many days ago it broke
vol_thresh = 10000
# print(break_time_thresh)
df_test = df_test[df_test["Old 52wk High"] != df_test["high52"]]
df_test = df_test[df_test["doh"] < time_thresh]
df_test = df_test[df_test["date of break"] > break_time_thresh]
df_test["diff"] = datetime.now() - df_test["date of break"]
pd.options.display.float_format = '{:.2f}'.format
df_test.sort_values(by='Volume', ascending=False).head(20)

NameError: name 'cop_test' is not defined

# Random shit

In [9]:
all_tickers = web.get_nasdaq_symbols()
all_tickers = all_tickers[~all_tickers["ETF"] & ~all_tickers["Test Issue"]]
# all_tickers.loc["O"]
all_tickers

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.00,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.00,False,NaN,AA,AA,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.00,False,NaN,AAC,AAC,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.00,False,NaN,AAC.U,AAC=,False
AAC.W,True,Ares Acquisition Corporation Redeemable Warran...,N,,False,100.00,False,NaN,AAC.WS,AAC+,False
...,...,...,...,...,...,...,...,...,...,...,...
ZVSA,True,"ZyVersa Therapeutics, Inc. - Common Stock",Q,G,False,100.00,False,D,NaN,ZVSA,False
ZWS,True,Zurn Elkay Water Solutions Corporation Common ...,N,,False,100.00,False,NaN,ZWS,ZWS,False
ZYME,True,Zymeworks Inc. - Common Stock,Q,Q,False,100.00,False,N,NaN,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,S,False,100.00,False,D,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.00,False,N,NaN,ZYXI,False

# Import to TradingView using pyautgui

In [6]:
def get_fit_tickers(df, num):
    return df.index[:num].tolist()


def add_to_tv(df):
    # Click plus (1773, 164)
    tickers = get_fit_tickers(df, 100)
    print(tickers)
    pyautogui.click(1773, 164)
    for ticker in tickers:
        pyautogui.write(ticker)
        pyautogui.press("enter")

# Finding stocks that broke 52wk high yesterday

### First DataFrame that contains necessary information

In [7]:
def parse_df(df, old_high=2, high_by="High"):
    # old_high- How many days ago it broke high (x or less)
    # high_by- by which OHLC to determine d
    high = df['High'].max()  # 52 wk high
    close = df['Close'].iloc[-1]  # Close of last candle
    pct_to_52 = ((high - close) / high) * 100  # Percent change to 52wk high
    volume = df["Volume"].iloc[-1]  # Volume of last candle
    old_doh = df['High'][:-old_high].idxmax()  # 52wk high before 2 days
    doh = df['High'].idxmax()  # 52wk high today
    new_df = pd.DataFrame({'Close': close, '52wk High': high, "% to 52wk": pct_to_52, "Volume": volume, "Date of high": doh, "Old date of high": old_doh, "Volume$": volume * close})

    return new_df

### Filtering and sorting DataFrame

In [8]:
def filter_sort_df(df):
    df = df.dropna(subset=['Close'])

    vol_thresh = 10000  # Volume threshold
    vold_thresh = 500000  # Volume in dollar threshold, helps filtering out stocks that don't really have a high volume but due to low price they have a high volume
    time_thresh1 = datetime.now() - timedelta(days=75)  # Hit the high between 120 and 200 days ago (3 - 7 months)
    time_thresh2 = datetime.now() - timedelta(days=200)  

    df = df[df['Volume'] >= vol_thresh]
    df = df[df['Volume$'] >= vold_thresh]
    df = df[(df["Old date of high"] < time_thresh1) & (df["Old date of high"] > time_thresh2)]  # Old doh (last support) is between 90 to 200 days'
    df = df[df["Old date of high"] != df["Date of high"]]
    
    return df.sort_values(by='% to 52wk', ascending=True)

In [12]:
full_df = parse_df(data, 1)
cop = full_df.copy()

df = filter_sort_df(cop)
df

,Close,52wk High,% to 52wk,Volume,Date of high,Old date of high,Volume$
AMR,182.76,184.00,0.68,"76,780.00",2023-08-09,2023-03-08,"14,031,929.27"
CION,11.43,11.64,1.80,"124,996.00",2023-08-09,2023-01-27,"1,428,704.32"
MNKD,5.64,5.75,1.91,"1,590,503.00",2023-08-09,2023-02-27,"8,970,436.71"

In [10]:
add_to_tv(df)

['TRNS', 'NVO', 'XTNT']

In [16]:
cop.loc["URI"]

Close                            480.54
52wk High                        492.22
% to 52wk                          2.37
Volume                       134,132.00
Date of high        2023-08-07 00:00:00
Old date of high    2023-08-07 00:00:00
Volume$                   64,455,792.43
Name: URI, dtype: object