In [3]:
import pandas_datareader.data as web
import yfinance as yf
import pandas as pd
import numpy as np
import time

In [4]:
def get_tickers(file=r"Stock names.txt"):
    with open(file) as f:
        tickers = f.read().split("\n")
    return [ticker for ticker in tickers if "." not in ticker]

In [5]:
def get_all_tickers():
    # Get a list of all available tickers from Yahoo Finance
    all_tickers = web.get_nasdaq_symbols()
    tickers = all_tickers.index.tolist()
    return [str(ticker) for ticker in tickers if str(ticker).isalpha()]
    
    # with open('tickers.txt', 'w') as file:
    #     for ticker in tickers:
    #         file.write(ticker + '\n')
# get_all_tickers()[:10]

In [14]:
def get_info(tickers_list):
    df = yf.download(tickers_list, period="1y")

    highs = df['High'].max()
    closes = df['Close'].iloc[-1]
    pct_to_52 = ((highs - closes) / highs) * 100
    volume = df["Volume"].iloc[-1]
    
    new_df = pd.DataFrame({'Close': closes, '52wk High': highs, "Percent from 52": pct_to_52, "Volume": volume})

    return new_df

In [15]:
s = time.time()
df = get_info(get_all_tickers()[:200])
print(time.time() - s)
df

[*********************100%***********************]  200 of 200 completed

1 Failed download:
- ADOCR: Period '1y' is invalid, must be one of ['1d', '5d']
10.160059928894043

            Close   52wk High  Percent from 52     Volume
A      127.620003  160.259995        20.366899  3918200.0
AA      33.380001   58.235001        42.680517  5565800.0
AAA     24.715000   24.820000         0.423044     6800.0
AAAU    19.450001   20.430000         4.796865   882400.0
AAC     10.560000   10.600000         0.377358   445300.0
...           ...         ...              ...        ...
AEYE     4.820000    7.890000        38.910009    16200.0
AEZS     3.130000    5.900000        46.949151    15700.0
AFAR    10.640000   11.640000         8.591065    21000.0
AFARU   10.650000   11.478000         7.213801        0.0
AFARW         NaN    0.040100              NaN        NaN

[200 rows x 4 columns]

In [18]:
df = df.dropna(subset=['Close'])
vol_thresh = 10000
df = df[df['Volume'] >= vol_thresh]
df.sort_values(by='Percent from 52', ascending=True)

          Close  52wk High  Percent from 52     Volume
ADER  11.380000  11.400000         0.175434   304800.0
ACGL  82.269997  82.519997         0.302957  8069200.0
AAC   10.560000  10.600000         0.377358   445300.0
ACIO  31.540001  31.718000         0.561194    29000.0
AEL   53.919998  54.259998         0.626613   851000.0
...         ...        ...              ...        ...
ACRX   1.020000   7.600000        86.578947   141000.0
ADCT   1.420000  10.820000        86.876155   683000.0
ADMP   1.900000  29.400000        93.537415   120900.0
ACGN   0.980000  16.000000        93.875000   325900.0
ADTX   0.408000  28.490000        98.567919    65900.0

[147 rows x 4 columns]

In [17]:
cop = df.copy()
cop

            Close   52wk High  Percent from 52     Volume
A      127.620003  160.259995        20.366899  3918200.0
AA      33.380001   58.235001        42.680517  5565800.0
AAA     24.715000   24.820000         0.423044     6800.0
AAAU    19.450001   20.430000         4.796865   882400.0
AAC     10.560000   10.600000         0.377358   445300.0
...           ...         ...              ...        ...
AEY      0.600000    2.300000        73.913042    11000.0
AEYE     4.820000    7.890000        38.910009    16200.0
AEZS     3.130000    5.900000        46.949151    15700.0
AFAR    10.640000   11.640000         8.591065    21000.0
AFARU   10.650000   11.478000         7.213801        0.0

[194 rows x 4 columns]